<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {{> header_admin}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <div class="mt-4">
                <h1>Combo Gói Cước</h1>
                <div class="mt-4">
                  <a class="btn btn-primary" href="/combo" role="button">Quay lại</a>
                  <h1 class="mt-3">Sửa gói cước</h1>
                  
                  <form action="/{{edit_combo._id}}/update_combo?_method=PUT" method="POST" class="mt-4">
                    <div class="form-group">
                      <label for="name_combo">Tên Combo gói cước</label>
                      <input type="text" class="form-control"  placeholder="Tên combo" value="{{edit_combo.name_combo}}" name="name_combo"
                        id="name_combo">
                    </div>
                    <div class="form-group">
                      <label for="data_combo">Băng thông</label>
                      <input type="text" class="form-control" placeholder="Băng thông" value="{{edit_combo.data_combo}}" name="data_combo"
                        id="data_combo" >
                    </div>
                    <div class="form-group">
                      <label for="range">Phạm vi áp dụng</label>
                      <input type="text" class="form-control" placeholder="Phạm vi áp dụng" value="{{edit_combo.range}}" name="range"
                        id="range" >
                    </div>
                    <div class="form-group">
                      <label for="promotions_combo">Khuyến mãi</label>
                      <textarea class="form-control" rows="3" placeholder="Chương trình khuyến mãi"  name="promotions_combo"
                        id="promotions_combo">{{edit_combo.promotions_combo}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="price_combo">Giá gói cước</label>
                      <input type="text" class="form-control" placeholder="Giá gói cước" value="{{edit_combo.price_combo}}" name="price_combo"
                        id="price_combo">
                    </div>
                    <button type="submit" class="btn btn-primary">Sửa Combo</button>
                  </form>
                </div>
              </div>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {{> footer_admin}}


  </div>
  <!-- ./wrapper -->


</div>