<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {{> header_admin}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <div class="mt-4">
                <h1>Danh sách đăng ký</h1>
                
                <table class="table mt-4" style="width: 100%;">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên khách hàng</th>
                      <th scope="col">Số điện thoại</th>
                      <th scope="col">Địa chỉ</th>
                      <th scope="col">Gói cước</th>
                      <th scope="col">Ngày đăng ký</th>
                      <th scope="col"></th>
                      

                    </tr>
                  </thead>
                  {{#each shows_information}}
                  <tbody>
                    <tr>
                      <th scope="row">{{sum @index 1}}</th>
                      <td>{{this.tenkhachhang}}</td>
                      <td>{{this.sdt}}</td>
                      <td>{{this.diachi}}</td>
                      <td>{{this.goicuoc}}</td> 
                      <td>{{this.createdAt}}</td>
                      {{!-- <td><button type="button" class="btn btn-primary" id="check" data-id="{{this._id}}" onclick="check_xuly()">Chưa xử lý</button></td> --}}
                      
                      <td><a class="btn btn-danger" href="#" role="button" data-toggle="modal" data-id="{{this._id}}" data-target="#delete_dsdk">Xóa</a></td>
                    </tr>
                  </tbody>
                  
                {{/each}}
                </table>
                
              </div>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {{> footer_admin}}


  </div>
  <!-- ./wrapper -->


</div>

<!-- Modal -->
<div class="modal fade" id="delete_dsdk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục, bạn chắc chắn muốn xóa?
      </div>
      <div class="modal-footer">

        <button id="btn-delete-dsdk" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete form --}}
  <form name="delete-form-dsdk" method="POST"></form>
{{!-- modal chức năng xóa --}}
<script>

  document.addEventListener('DOMContentLoaded', function () {
    var DSDKid;
    var deleteForm = document.forms['delete-form-dsdk'];
    var btnDeleteDSDK = document.getElementById('btn-delete-dsdk');

    $('#delete_dsdk').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      DSDKid = button.data('id');
      
    });
      
      
      btnDeleteDSDK.onclick = function(){
        deleteForm.action = '/' + DSDKid + '/delete_dsdk?_method=DELETE'; 
        deleteForm.submit();
      }

  });
  
</script>