<div class="container backgroud-container">
    {{> header}}
    <div class="container backgroud-row">
        <div class="row">
            <div class="col-sm-8 backgroud-1">
                <div>
                    <h1 style="text-align: center;" class="test">INTERNET CÁP QUANG VIETTEL CẦN THƠ</h1>
                </div>
                <br>
                <div>
                    <p style="text-align: center;font-weight: 700;">CÁC GÓI CƯỚC DOANH NGHIỆP VỪA VÀ LỚN</p>
                </div>
                
                <hr>
                <div class="container">
                    <!-- The Modal -->
                    <div class="modal a9" id="internet">
                        <div class="modal-dialog " style="margin-top:5%;">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Đắng ký gói cước</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body ">
                                    <form action="/store" method="POST">
                                        <div class="form-group">
                                            <label for="tenkhachhang">Tên khách hàng</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên khách hàng"
                                                name="tenkhachhang" id="tenkhachhang">
                                        </div>
                                        <div class="form-group">
                                            <label for="sdt">Số điện thoại</label>
                                            <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                                name="sdt" id="sdt">
                                        </div>
                                        <div class="form-group">
                                            <label for="diachi">Địa chỉ</label>
                                            <input type="text" class="form-control" placeholder="Nhập địa chỉ"
                                                name="diachi" id="diachi">
                                        </div>
                                        <div class="form-group">
                                            {{!-- <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"> Remember me
                                            </label> --}}
                                            <label for="goicuoc">Chọn gói cước</label>
                                            <select class="form-control" name="goicuoc" id="goicuoc">
                                                {{#each internets}}
                                                <option value='{{this.name_goicuoc}}'>{{this.name_goicuoc}}</option>
                                                {{/each }}

                                            </select>
                                        </div>
                                        <div class="form-group">
                                           
                                            <input type="hidden" class="form-control" value="0"
                                                name="status" id="status">
                                        </div>
                                        <button type="submit" class="btn btn-primary" onclick="handleSubmit()">Đăng
                                            ký</button>
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="internet-home-bottom "><br>
                        <div class="inner">

                            <div class="row">
                                {{#each internets}}
                                <div class="col-sm-4">
                                    <div class="card" style="border: 1px solid #e5e5e5;
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="card-body ">
                                            <h1 class="card-title"
                                                style="color: #728092;font-size:25px;font-weight: bold;text-align: center;width: 100%;">
                                                {{this.name_goicuoc}}</h1>
                                            <br>
                                            <hr>
                                            <p class="price" style="color:#EE0033;font-faimily:  roboto;" id="price_doanhnghiep">{{this.price}}(VNĐ)/1 Tháng</p>
                                            <hr>
                                            <p style="color: #252525;font-weight: bold;">Băng thông</p>
                                            <p style="color: #252525;">Trong nước : {{this.data_tn}}</p>
                                            <p style="color: #252525;">Quốc tế : {{this.data_qt}}</p>
                                            <p style="color: #252525;font-weight: bold;">Khuyến mãi</p>
                                            <p>{{this.promotions}}</p>
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#internet"  style="width: 100%;">
                                                        Đăng ký
                                                    </button>
                                                </div>
                                                

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>



                        </div><br>
                        <p class="nav-link" style="color: red;text-align: center;">Giá trên đã bao gồm 10% thuế VAT</p>
                        <a class="nav-link" href="internet" style="text-align: center;">Xem tất cả</a>
                        <br>
                    </div>
                </div>
                <div>
                    <p style="text-align: center;font-weight: 700;">CÁC GÓI CƯỚC GIA ĐÌNH</p>
                </div>
                <hr>
                <div class="container">

                    <!-- The Modal -->
                    <div class="modal a9" id="family">
                        <div class="modal-dialog " style="margin-top:5%;">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Đắng ký gói cước</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body ">
                                    <form action="/store" method="POST">
                                        <div class="form-group">
                                            <label for="tenkhachhang">Tên khách hàng</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên khách hàng"
                                                name="tenkhachhang" id="tenkhachhang">
                                        </div>
                                        <div class="form-group">
                                            <label for="sdt">Số điện thoại</label>
                                            <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                                name="sdt" id="sdt">
                                        </div>
                                        <div class="form-group">
                                            <label for="diachi">Địa chỉ</label>
                                            <input type="text" class="form-control" placeholder="Nhập địa chỉ"
                                                name="diachi" id="diachi">
                                        </div>
                                        <div class="form-group">
                                            {{!-- <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"> Remember me
                                            </label> --}}
                                            <label for="goicuoc">Chọn gói cước</label>
                                            <select class="form-control" name="goicuoc" id="goicuoc">
                                                {{#each familys}}
                                                <option value='{{this.name_gcgd}}'>{{this.name_gcgd}}</option>
                                                {{/each }}

                                            </select>
                                        </div>
                                        <div class="form-group">
                                           
                                            <input type="hidden" class="form-control" value="0"
                                                name="status" id="status">
                                        </div>
                                        <button type="submit" class="btn btn-primary" onclick="handleSubmit()">Đăng
                                            ký</button>
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="internet-home-bottom "><br>
                        <div class="inner">
                            <div class="row">
                                {{#each familys}}
                                <div class="col-sm-4">
                                    <div class="card" style="border: 1px solid #e5e5e5;
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="card-body ">
                                            <h1 class="card-title"
                                                style="color: #728092;font-size:25px;font-weight: bold;text-align: center;width: 100%;">
                                                {{this.name_gcgd}}</h1>
                                            <br><br>
                                            <hr>
                                            <p class="price" style="color:#EE0033;font-faimily:  roboto;">{{this.price_gd}}(VNĐ)/1 Tháng</p>
                                            <hr>
                                            <p style="color: #252525;font-weight: bold;">Băng thông</p>
                                            <p style="color: #252525;"> {{this.data_gd}}</p>
                                            
                                            <p style="color: #252525;font-weight: bold;">Khuyến mãi</p>
                                            <p>{{this.promotions_gd}}</p>
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#family"  style="width: 100%;">
                                                        Đăng ký
                                                    </button>
                                                </div>
                                                

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                
                                {{/each}}
                            </div>


                        </div><br>
                        <p class="nav-link" style="color: red;text-align: center;">Giá trên đã bao gồm 10% thuế VAT</p>
                        <a class="nav-link" href="internet_giadinh" style="text-align: center;">Xem tất
                            cả</a>
                        <br>
                        <div class="container">

                        </div>
                    </div>
                </div>
                <div>
                    <p style="text-align: center;font-weight: 700;">CÁC GÓI CƯỚC COMBO INTERNET</p>
                </div>
                <hr>
                <div class="container">

                    <!-- The Modal -->
                    <div class="modal a9" id="combos">
                        <div class="modal-dialog " style="margin-top:5%;">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Đắng ký gói cước</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body ">
                                    <form action="/store" method="POST">
                                        <div class="form-group">
                                            <label for="tenkhachhang">Tên khách hàng</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên khách hàng"
                                                name="tenkhachhang" id="tenkhachhang">
                                        </div>
                                        <div class="form-group">
                                            <label for="sdt">Số điện thoại</label>
                                            <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                                name="sdt" id="sdt">
                                        </div>
                                        <div class="form-group">
                                            <label for="diachi">Địa chỉ</label>
                                            <input type="text" class="form-control" placeholder="Nhập địa chỉ"
                                                name="diachi" id="diachi">
                                        </div>
                                        <div class="form-group">
                                            {{!-- <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"> Remember me
                                            </label> --}}
                                            <label for="goicuoc">Chọn gói cước</label>
                                            <select class="form-control" name="goicuoc" id="goicuoc">
                                                {{#each combos}}
                                                <option value='{{this.name_combo}}'>{{this.name_combo}}</option>
                                                {{/each }}

                                            </select>
                                        </div>
                                        <div class="form-group">
                                           
                                            <input type="hidden" class="form-control" value="0"
                                                name="status" id="status">
                                        </div>
                                        <button type="submit" class="btn btn-primary" onclick="handleSubmit()">Đăng
                                            ký</button>
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="internet-home-bottom "><br>
                        <div class="inner">
                            <div class="row">
                                {{#each combos}}
                                <div class="col-sm-4">
                                    <div class="card" style="border: 1px solid #e5e5e5;
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="card-body ">
                                            <h1 class="card-title"
                                                style="color: #728092;font-size:25px;font-weight: bold;text-align: center;width: 100%;">
                                                {{this.name_combo}}</h1>
                                            <br><br>
                                            <hr>
                                            <p class="price" style="color:#EE0033;font-faimily:  roboto;">{{this.price_combo}}(VNĐ)/1 Tháng</p>
                                            <hr>
                                            <p style="color: #252525;font-weight: bold;">Băng thông</p>
                                            <p style="color: #252525;">{{this.data_combo}}</p>
                                            <p style="color: #252525;font-weight: bold;">Phạm vi áp dụng</p>
                                            <p>{{this.range}}</p>
                                            <p style="color: #252525;font-weight: bold;">Khuyến mãi</p>
                                            <p>{{this.promotions_combo}}</p>
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#combos"  style="width: 100%;">
                                                        Đăng ký
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {{/each}}
                            </div>


                        </div><br>
                        <p class="nav-link" style="color: red;text-align: center;">Giá trên đã bao gồm 10% thuế VAT</p>
                        <a class="nav-link" href="internet_combo" style="text-align: center;">Xem tất cả</a>
                        <br>
                    </div>
                </div>
                <div class="container">
                    <h1 class="test-2">Khuyến mãi</h1><br>
                    <p style="color: #00AA00;">Khuyến mãi thêm khi quý khách đóng cước trước:</p>
                    {{#each promotions}}
                    <ul>
                        <p style="color: #FF9900;">Khi khách hàng đóng cước trước {{this.month}}</p>

                        <li style="margin-left:5%;">{{this.infor}}</li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            {{!-- =========tin tuc======== --}}
            {{!-- col-8 --}}
            <div class="col-sm-4 backgroud-2">
                <div class="titletintuc ">
                    <h1 class="test">TIN TỨC SỰ KIỆN</h1>
                </div><br><br><br>
                <div class="tintuc">
                    <img src="img/lienhe.png" alt="" style="width:100%;border-radius: 10px 10px 0 0;">
                    <p style="text-align: center;color:red;font-weight: 600;">LIÊN HỆ TƯ VẤN / LẮP ĐẶT</p>
                    {{#each phones}}
                    <p style="text-align: center;">{{this.sdt}}</p>
                    {{/each}}
                    <p style="text-align: center;color:green;">Báo hỏng / Sự cố</p>
                    <p style="text-align: center;">1800 8090</p>
                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">SMART MOTOR VIETTEL</p>
                    <img src="img/chong-trom-xe-may-viettel-remote-w2.jpg" alt=""
                        style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">THIẾT BỊ GIÁM SÁT HÀNH TRÌNH</p>
                    <img src="img/Bảng-giá-lắp-đặt-thiết-bị-giám-sát-hành-viettel-1.jpg" alt=""
                        style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">KHÓA CHỐNG TRỘM XE MÁY</p>
                    <img src="img/chong-trom-xe-may-remote.jpg" alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">CHỮ KÝ SỐ VIETTEL</p>
                    <img src="img/chu-ky-so-viettel-ca.jpg" alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">HÓA ĐƠN ĐIỆN TỬ VIETTEL</p>
                    <img src="img/hoa-don-dien-tu.jpg" alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">LẮP ĐẶT CÁP QUANG VIETTEL</p>
                    <img src="img/lap-dat-internet-quan-9-10-1.jpg" alt=""
                        style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">ĐỊNH VỊ Ô TÔ VIETTEL</p>
                    <img src="img/dinh-vi-o-to.jpg" alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                {{!-- --}}
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">TV360 Viettel - App xem Truyền Hình trên Điện Thoại, Tivi miễn phí </p>
                    <img src="img/df2b81f966f5306494fb35669df1dc2e_S.jpg " alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
                <div class="tintuc">
                    <p style="text-align: center;color:red;font-weight: 600;">Viettel đóng góp 450 tỷ đồng vào quỹ vaccine phòng Covid-19</p>
                    <img src="img/1c14018b9c4f9aa0ec57ff570334db4f_S.jpg" alt="" style="width:100%;border-radius: 0 0 10px 10px;">

                </div><br>
            </div>
        </div>


    </div>
    <div class="footer-relative">{{> footer}}</div>



</div>
